<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="5.0">
  <servlet>
    <description></description>
    <display-name>LogeoController</display-name>
    <servlet-name>LogeoController</servlet-name>
    <servlet-class>controller.LogeoController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogeoController</servlet-name>
    <url-pattern>/LogeoController</url-pattern>
  </servlet-mapping>
  <display-name>Farmacia</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ControladorVenta</display-name>
    <servlet-name>ControladorVenta</servlet-name>
    <servlet-class>controller.ControladorVenta</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControladorVenta</servlet-name>
    <url-pattern>/ControladorVenta</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>controller.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CerrarSessionServlet</display-name>
    <servlet-name>CerrarSessionServlet</servlet-name>
    <servlet-class>controller.CerrarSessionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CerrarSessionServlet</servlet-name>
    <url-pattern>/CerrarSessionServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ClienteMantenedorDB</display-name>
    <servlet-name>ClienteMantenedorDB</servlet-name>
    <servlet-class>controller.ClienteMantenedorDB</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ClienteMantenedorDB</servlet-name>
    <url-pattern>/ClienteMantenedorDB</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProductoMantenedorDB</display-name>
    <servlet-name>ProductoMantenedorDB</servlet-name>
    <servlet-class>controller.ProductoMantenedorDB</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductoMantenedorDB</servlet-name>
    <url-pattern>/ProductoMantenedorDB</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>VentaServlet</display-name>
    <servlet-name>VentaServlet</servlet-name>
    <servlet-class>controller.VentaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VentaServlet</servlet-name>
    <url-pattern>/VentaServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReportesServlet</display-name>
    <servlet-name>ReportesServlet</servlet-name>
    <servlet-class>controller.ReportesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReportesServlet</servlet-name>
    <url-pattern>/ReportesServlet</url-pattern>
  </servlet-mapping>
</web-app>